.container {
  display: grid;
  perspective: 40rem;
}

.board {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s linear;
  transition: transform 0.5s linear;
}

table {
  box-shadow: 0 0 30px lightgreen;
}

.front,
.back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.back {
  box-shadow: 0 0 30px lightgreen;
  position: absolute;
  inset: 0;
  background: #242424;
  color: #f1f1f1;
  padding-top: calc(50% - 1rem);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.board.tablePause {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

table.fail {
  box-shadow: 0 0 30px red;
}

table,
td {
  border-collapse: collapse;
  border: 1px solid #242424;
}

td {
  min-width: 2rem;
  height: 2rem;
  background-color: grey;
}

@media (prefers-color-scheme: light) {
  table,
  td {
    background-color: grey;
  }
  table {
    box-shadow: 0 0 30px darkgreen;
  }
  table.fail {
    box-shadow: 0 0 30px darkred;
  }
}
